    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kepribadian</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Diri Saya Bagaimana Ya</p>
                                </div>
                                <a href="/2016/about" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prestasi</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Apa Saja Ya Prestasi Saya</p>
                                </div>
                                <a href="/2016/agenda" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pendidikan</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Dimana Saya Sekolah Belajar Selama Ini</p>
                                </div>
                                <a href="/2016/team" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Alamat</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Dimana Saya Tinggal</p>
                                </div>
                                <a href="/2016/venue" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pertanyaan</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Pertanyaan yang seing di tannyakan</p>
                                </div>
                                <a href="/2016/faqs" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
